
.listCard {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: .8rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr))   
}

.listCard .links {
    text-decoration: none;
    color: black;
}