* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e7ebea;
}

.container {
  width: 96%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 6%;
}

.container-card {
  margin: 10px;
  width: 355px;
  height: 400px;
  background-color: white;
  padding: 10px;

}

.card-body {
  text-align: center;
  padding: 10px;
}

.card-body span {
  margin-top: 25px;
  font-weight: bold;
}

